<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gravity</key>
	<string>300.0f</string>
	<key>goalPosition</key>
	<string>{1600,200}</string>
	<key>flyForce</key>
	<real>1000</real>
	<key>playerPosition</key>
	<string>{100,160}</string>
</dict>
</plist>
